In [2]:
import os
import glob

# Data handling and manipulation library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\Victo\AppData\Local\Temp\ipykernel_9120\3756708517.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Set print options
pd.set_option('display.max_columns', None)

### some stuff for making pretty plots
from matplotlib import rcParams
from cycler import cycler
## Set plotting style and print options
sns.set_theme()
sns.set_style("whitegrid")
sns.set_context("paper") #Possible are paper, notebook, talk and poster
# Set figure format
wide_format, square_format = False, True
if wide_format:
    d = {'lines.linewidth': 2, 'axes.titlesize': 18, 'axes.labelsize': 18, 'xtick.labelsize': 12, 'ytick.labelsize': 12,\
     'legend.fontsize': 15, 'font.family': 'serif', 'figure.figsize': (9,6)}
if square_format:
    d = {'lines.linewidth': 2, 'axes.titlesize': 16, 'axes.labelsize': 14, 'xtick.labelsize': 10, 'ytick.labelsize': 10,\
     'legend.fontsize': 12, 'font.family': 'serif', 'figure.figsize': (6,6)}
    
d_colors = {'axes.prop_cycle': cycler(color = ['teal', 'navy', 'coral', 'plum', 'purple', 'olivedrab',\
         'black', 'red', 'cyan', 'yellow', 'khaki','lightblue'])}
rcParams.update(d)
rcParams.update(d_colors)

In [4]:
# Set the path to the data directory
data_dir = "../../../Indication Insights Data-20240905"

# List all files in the data directory
files = glob.glob(os.path.join(data_dir, '*.csv'))
file_names = os.listdir(data_dir)
file_names = [file.lower() for file in file_names if file.endswith('.csv')]

# Load all data files into a dictionary
df_dict = {}
for file in files:
    df = pd.read_csv(file, sep=';',encoding='iso-8859-1')
    df_dict[os.path.basename(file).lower().split('.csv')[0]] = df

keys = list(df_dict.keys())
file_names

FileNotFoundError: [WinError 3] Den angivne sti blev ikke fundet: '../../../Indication Insights Data-20240905'

In [ ]:
file1 = 'diagnosis_groups'
sales_ins1 = df_dict[file1]
file2 = 'diagnosis_groups_sks diagnoser'
sales_ins2 = df_dict[file2]
file3 = 'diagnosis_groups_spa'
sales_ins3 = df_dict[file3] 
file4 = 'dosing'
sales_ins4 = df_dict[file4]
file5 = 'hospital_account'
sales_ins5 = df_dict[file5]
file6 = 'hospital_region'
sales_ins6 = df_dict[file6]
file7 = 'salgs_data_indication_insight_hospital'
sales_ins7 = df_dict[file7]
file8 = 'salgs_data_indication_insight_pharmacy'
sales_ins8 = df_dict[file8]
file9 = 'substancesofinterest'
sales_ins9 = df_dict[file9]
file10 = 'tabel_sks_diagnose_country'
sales_ins10 = df_dict[file10]
file11 = 'tabel_sks_diagnose_hospital'
sales_ins11 = df_dict[file11]
file12 = 'tabel_sks_diagnose_region'
sales_ins12 = df_dict[file12]

In [ ]:
sales_ins1.head()

  ï»¿Diagnosis Code         Diagnosis Description Diagnosis Group
0             DK500    Crohns sygdom i tyndtarmen              CD
1            DK500B         Crohns sygdom i ileum              CD
2            DK500D            Ileitis terminalis              CD
3             DK501     Crohns sygdom i tyktarmen              CD
4             DK508  Anden form for Crohns sygdom              CD

In [ ]:
sales_ins5.head()

# fjern sidste to kolonner
# og opdel account i privat og offentlig

,ï»¿Hospital Code,Hospital,Account,Account no.,Unnamed: 4
0,1411,Aleris-Hamlet Hospitaler,Aleris-Hamlet,4484.0,NaN
1,3019,Hospitalet Valdemar,Aleris-Hamlet,4484.0,NaN
2,3030,"Aleris-Hamlet, Ringsted",Aleris-Hamlet,4484.0,NaN
3,2000,Hospitalerne I NordsjÃ¦lland,Hovedstaden,4060.0,NaN
4,1516,Herlev Og Gentofte Hospital,Hovedstaden,4060.0,NaN

In [ ]:
sales_ins6.head()

                              ï»¿Hospital       Region  Hospital Code
0             Amager Og Hvidovre Hospital  Hovedstaden           1330
1  Bispebjerg Og Frederiksberg Hospitaler  Hovedstaden           1309
2                      Bornholms Hospital  Hovedstaden           4001
3             Herlev Og Gentofte Hospital  Hovedstaden           1516
4            Hospitalerne I NordsjÃ¦lland  Hovedstaden           2000

In [ ]:
sales_ins7.head()

# lav tre kolonner med hhv. apotek, privat hospital og offentligt hospital.
# Værdierne kan være 0 eller 1.

,ï»¿Year Month,Region,Account Description,Product,Size,Size Numeric,Strength,WHO ATC 5 Code,Volume,Value
0,201001,Hovedstaden,"4060 Centralapoteket, Region Hovedstaden",Cimzia,2 stk.,2,200 mg,L04AB05,19,"160820,1"
1,201001,Hovedstaden,"4060 Centralapoteket, Region Hovedstaden",Remicade,1 htgl. a 100 mg,100,100 mg,L04AB02,2096,"9236652,8"
2,201001,Hovedstaden,"4060 Centralapoteket, Region Hovedstaden",Stelara,1 stk,1,"45 mg/0,5 ml",L04AC05,23,"622716,26"
3,201002,Hovedstaden,"4060 Centralapoteket, Region Hovedstaden",Cimzia,2 stk.,2,200 mg,L04AB05,11,"88919,05"
4,201002,Hovedstaden,"4060 Centralapoteket, Region Hovedstaden",Remicade,1 htgl. a 100 mg,100,100 mg,L04AB02,2036,"8972244,8"

In [ ]:
sales_ins7['WHO ATC 5 Code'].unique()

array(['L04AB05', 'L04AB02', 'L04AC05'], dtype=object)

In [ ]:
sales_ins8.head(20)

,ï»¿Year Month,Region,Account Description,Product,Size,Size Numeric,Strength,WHO ATC 5 Code,Volume,Value,Unnamed: 10
0,201003.0,Danmark diverse,0009 GROSSISTSALG,Cimzia,2 stk.,2.0,200 mg,L04AB05,1.0,"8083,55",NaN
1,201006.0,Danmark diverse,0009 GROSSISTSALG,Cimzia,2 stk.,2.0,200 mg,L04AB05,1.0,"8083,55",NaN
2,201007.0,Danmark diverse,0009 GROSSISTSALG,Cimzia,2 stk.,2.0,200 mg,L04AB05,1.0,"8083,55",NaN
3,201011.0,Danmark diverse,0009 GROSSISTSALG,Cimzia,2 stk.,2.0,200 mg,L04AB05,2.0,"16167,1",NaN
4,201103.0,Danmark diverse,0009 GROSSISTSALG,Cimzia,2 stk.,2.0,200 mg,L04AB05,1.0,"8406,89",NaN
5,201103.0,Danmark diverse,0009 GROSSISTSALG,Stelara,"1 stk. (0,5 ml)",1.0,45 mg,L04AC05,5.0,"138080,55",NaN
6,201105.0,Danmark diverse,0009 GROSSISTSALG,Remicade,1 htgl. a 100 mg,100.0,100 mg,L04AB02,1.0,"4406,8",NaN
7,201108.0,Danmark diverse,0009 GROSSISTSALG,Cimzia,2 stk.,2.0,200 mg,L04AB05,2.0,"16167,1",NaN
8,201109.0,Danmark diverse,0009 GROSSISTSALG,Remicade,1 htgl.,1.0,100 mg,L04AB02,3.0,"13484,8",NaN
9,201110.0,Danmark diverse,0009 GROSSISTSALG,Remicade,1 htgl.,1.0,100 mg,L04AB02,8.0,"35254,4",NaN
10,201201.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,2.0,"54149,24",NaN
11,201204.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,1.0,"27074,62",NaN
12,201207.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,1.0,"27074,62",NaN
13,201208.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,2.0,"54149,24",NaN
14,201209.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,1.0,"27074,62",NaN
15,201210.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,1.0,"27074,62",NaN
16,201301.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,1.0,"27074,62",NaN
17,201303.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,1.0,"27074,62",NaN
18,201304.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,1.0,"27074,62",NaN
19,201306.0,Midtjylland,0030 Viborg Svane apotek,Stelara,1 eng. spr. a 1 ml,1.0,90 mg,L04AC05,1.0,"26397,75",NaN

In [ ]:
sales_ins8['WHO ATC 5 Code'].unique()

0        L04AB05
1        L04AB05
2        L04AB05
3        L04AB05
4        L04AB05
          ...
54978        NaN
54979        NaN
54980        NaN
54981        NaN
54982        NaN
Name: WHO ATC 5 Code, Length: 54983, dtype: object

In [ ]:
distinct_products_with_atc = sales_ins8[['Product', 'WHO ATC 5 Code']]
distinct_products_with_atc = distinct_products_with_atc.drop_duplicates()
print(distinct_products_with_atc)



# TODO remove NaN values

        Product WHO ATC 5 Code
0        Cimzia        L04AB05
5       Stelara        L04AC05
6      Remicade        L04AB02
1527    Remsima        L04AB02
3003  Inflectra        L04AB02
3133     Zessly        L04AB02
7379        NaN            NaN

In [ ]:
# All distinct product names with atc code L04AC05

sales_ins8[sales_ins8['WHO ATC 5 Code'] == 'L04AC05']

NameError: name 'sales_ins8' is not defined

In [ ]:
sales_ins8[sales_ins8['Product'] == 'Inflectra']['WHO ATC 5 Code'].count()

np.int64(197)

In [ ]:
sales_ins9.head()

   ï»¿ATC5       SKS     Substance Medicinkode
0  L04AB02  BOHJ18A1    Infliximab    ML04AB02
1  L04AB05  BOHJ18A5  Certolizumab    ML04AB05
2  L04AC05  BOHJ18B3   Ustekinumab    ML04AC05

In [ ]:
sales_ins10.head()

,ï»¿Aar,SKS,SKS_Kodetekst,Diagnose,Unikke_Patienter,Registreringer
0,2018,BABZ0,AnlÃ¦ggelse Af Kateter Til RegionalanÃ¦stesi,DI702A,7,12.0
1,2018,BABZ0,AnlÃ¦ggelse Af Kateter Til RegionalanÃ¦stesi,DM890,3,5.0
2,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DA419,3,3.0
3,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC153,4,7.0
4,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC154,9,11.0

In [ ]:
sales_ins11.head(20)

,ï»¿Aar,SKS,SKS_Kodetekst,Diagnose,Sygehuskode,Sygehus,Unikke_Patienter,Registreringer
0,2018,BABZ0,AnlÃ¦ggelse Af Kateter Til RegionalanÃ¦stesi,DI702A,8001,Aalborg Universitetshospital,7.0,12
1,2018,BABZ0,AnlÃ¦ggelse Af Kateter Til RegionalanÃ¦stesi,DM890,8001,Aalborg Universitetshospital,3.0,5
2,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC153,6620,Aarhus Universitetshospital,4.0,7
3,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC154,6620,Aarhus Universitetshospital,9.0,11
4,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC155,6620,Aarhus Universitetshospital,11.0,11
5,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC160,6620,Aarhus Universitetshospital,48.0,56
6,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC162,6620,Aarhus Universitetshospital,3.0,4
7,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC163,6620,Aarhus Universitetshospital,5.0,6
8,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC169,6620,Aarhus Universitetshospital,8.0,8
9,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC170,6620,Aarhus Universitetshospital,4.0,7
10,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC179,6620,Aarhus Universitetshospital,7.0,11
11,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC180,6006,Regionshospitalet Horsens,3.0,4
12,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC180,6620,Aarhus Universitetshospital,4.0,4
13,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC180,6650,Hospitalsenheden Vest,3.0,3
14,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC180,7005,Regionshospitalet Randers,5.0,5
15,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC180,8003,Regionshospital Nordjylland Ven,17.0,17
16,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC180M,6620,Aarhus Universitetshospital,3.0,3
17,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC181,6620,Aarhus Universitetshospital,5.0,6
18,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC182,6006,Regionshospitalet Horsens,6.0,6
19,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC182,6620,Aarhus Universitetshospital,4.0,4

In [ ]:
len(sales_ins11['ï»¿Aar'])

769296

In [ ]:
sales_ins12.head()

,ï»¿Aar,SKS,SKS_Kodetekst,Diagnose,Region,Unikke_Patienter,Registreringer
0,2018,BABZ0,AnlÃ¦ggelse Af Kateter Til RegionalanÃ¦stesi,DI702A,1081 Nordjylland,7,12.0
1,2018,BABZ0,AnlÃ¦ggelse Af Kateter Til RegionalanÃ¦stesi,DM890,1081 Nordjylland,3,5.0
2,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DA419,1082 Midtjylland,3,3.0
3,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC153,1082 Midtjylland,4,7.0
4,2018,BABZ00,AnlÃ¦ggelse Af Epiduralkateter,DC154,1082 Midtjylland,9,11.0

In [ ]:
skser = sales_ins12['SKS'].unique()

# convert skser to a dataframe
skser_df = pd.DataFrame(skser, columns=['SKS'])
skser_df

skser_df.to_excel('skser.xlsx')